body { 
    font-family: Georgia, sans serif;
    font-size: 13px;
    line-height: 18.2px;
}

table {
    width: 100%;
    font-family: Georgia, sans serif;
    font-size: 13px;
    line-height: 18.2px;
    border-collapse: separate;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

th {
    font-weight: bold;
    border-bottom: 1px solid black;
}

tr td:nth-child(2), th:nth-child(2) {
    text-align: right;
}

h4 {
    text-align: center;
    font-family: Times New Roman, serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
}

h5 {
    text-align: center;
    font-family: Georgia, sans serif;
    font-size: 13px;
    line-height: 18.2px;
    font-weight: bold;
}

p {
    padding-bottom: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.story:nth-child(4n+5) {
    clear: both;
}

.story {
    float: left;
    width: 240px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.story:nth-child(4n+4) {
    float: left;
    width: 240px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.series-conjunction span:after {
    content: ","
}

.series-conjunction span:nth-last-child(2):after {
    content: " and "
}

.series-conjunction span:last-child:after {
    content: ""
}

body > div {
    width:990px; 
    margin: 0px auto;
}

.head {
    height: 44px;
    width: 568px;
    margin: 50px auto 0px auto;
    background: url(../image/stenographer.svg) no-repeat;
}

.date {
    text-align: center; 
    padding: 10px; 
    border-bottom: 3px double black; 
    margin-bottom:10px;
}